.tm-testi {
	background-color: #FF6347;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center; 
	    -webkit-align-items: center;
	        align-items: center;
	-ms-flex-flow: column;
	    -webkit-flex-flow: column;
	        flex-flow: column;
	padding: 40px;
	position: relative;
		border: 2px solid black;
	border-radius: 8px;

}
.tm-testi-img {
	margin-right: 0;
	margin-top: 30px;
	max-width: 150px;
	max-height: 200px; /* to fix firefox bug */
	width: 100%;
	height: auto;
	border: 3px ridge #000000;
}


.tm-testi-text-box {
	-ms-flex: 1 0000000
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 0 auto;
	        flex: 1 0 auto;
	width: 100%;

}

.tm-testi-text {
	color: #000000;
	font-size: 1.8rem;
	font-weight: 300;
	max-width: 680px;
	margin-bottom: 2rem;
	line-height: 1.8;
	-ms-flex: 1 0 auto;
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 0 auto;
	        flex: 1 0 auto;
}

.navbar-default {
	color: #ff4d2e;
	text-decoration: underline;

}

.navbar-header:hover {
	
	cursor: default;
}
.nav-link {
	color: #555555;
	cursor: pointer;
}
body{
	background-color: #ffa494;
}
	.item {
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 40px;
	}

		.item header {
			background: #fff;
			margin: 0;
			padding: 1em 0 1em 0;
			font-size: 0.8em;
			align-items: center;
		}

			.item header h3 {
				font-size: 1em;

			}
	section, article {
		margin-bottom: 3em;
	}

		section > :last-child,
		section > .container, section:last-child, article > :last-child,
		article > .container, article:last-child {
			margin-bottom: 0;
		}

		.row > section, .row > article {
			margin-bottom: 0;
		}

/* Image */

	.image {
		display: inline-block;
		border: 0;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.avatar48 {
			width: 50%;
			height: 50%;
		}

			.image.avatar48 img {
				width: 85%;
				height: 50%
			}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}
	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

	}

	.row > * {
		float: center;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 40px 0 0 40px;
	}

	.row {
		margin: -40px 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}
	.\-4u {
		margin-left: 33.33333%;
	}
