body{
	margin: 0;
	overflow: hidden;
}
.container{
	background-color: #5599FF;
	color: white;
	height: 100%;
	width: auto;
	padding: 1em;
	clear: left;
	text-align: center;

}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 25%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}
li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
.active {
	background-color: #265988;
	color: white;
}
li a:hover:not(.active) {
	background-color: #265988;
	color: white;
}
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}

}